.container {
  display: block;
}

.inner-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.meta-data {
  display: flex;
  flex-direction: column;
}

.meta-data span:first-child {
  font-weight: bold;
  color: #333;
  margin-bottom: 3px;
}

.meta-data span:last-child {
  font-size: 0.9em;
  color: rgb(20, 52, 233);
}
